doctype
html
  head
    title #{title} - /r/brawlhalla Toolbox
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 /r/brawlhalla Toolbox
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and backed by MongoDB
